*{
    margin: 0 auto; 
}
body{
    background-image: url(image/un-parc-dattractions-dedie-aux-jeux-video-a-nimes-dici-2020_u6pv\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
    bottom: 265px;
    font-size: 20px;
    z-index: 0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-top: 10px;
  }

  .navitem-user{
      margin-left: 100px;
  }

  li img{
      width: 70px;
      margin-top: 10px;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  .logo{
      position: relative;
      z-index: 1;
  }

  .poppy-header{
      
      padding-left: 60%;
  }
  
  .bar{
      background-color: #282C53;
      width: 100%;
      height: 10px;
      margin-top: 5%;
  }